@{
    ViewBag.Title = "Home Page";
}
<base href="/"/>
<script type="text/javascript" src="~/app/app.module.js"></script>
<script type="text/javascript" src="~/app/app.router.js"></script>

<!--services-->

<script type="text/javascript" src="~/app/services/copy-service.js"></script>
<script type="text/javascript" src="~/app/services/genre-service.js"></script>
<script type="text/javascript" src="~/app/services/publisher-service.js"></script>

<!--controllers-->

<script type="text/javascript" src="~/app/controller/home-controller.js"></script>
<script type="text/javascript" src="~/app/controller/copy-controller.js"></script>
<script type="text/javascript" src="~/app/controller/genre-controller.js"></script>
<script type="text/javascript" src="~/app/controller/publisher-controller.js"></script>


<div ng-app="myApp">
<div class="jumbotron">
    <h1 style="color:white">Game Rentals</h1>
    <p style="color:white">Rent games here!</p>
    <p><a href="../Rentals/Create" class="btn btn-primary btn-lg">New Rental &raquo;</a></p>

    <a href="../Home/About" class="btn btn-success btn-lrg">See our most popular titles &raquo;</a>
</div>    
    <div ng-view></div>
</div>
