@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="jumbotron">
        <h1 style="color:white">Game Rentals</h1>
        <p style="color:white">Rent games here!</p>
        <p><a ui-sref='rentals' class="btn btn-primary btn-lg">New Rental &raquo;</a></p>
    </div>
    <toaster-container></toaster-container>
    <ui-view></ui-view>

</div>
    

