<div ng-app="myApp" ng-controller="listClients">
    <p><a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a></p>
    <table class="table">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Birth Date
            </th>
            <th>Active</th>
        </tr>

        <tr ng-repeat="c in clients">
            <td>{{c.FirstMidName}} {{c.LastName}}</td>
            <td>{{c.BirthDate | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a class="btn btn-default">Details</a>
                <a class="btn btn-default">Edit</a>
                <a class="btn btn-danger" ng-show="c.Active">Delete</a>
            </td>
        </tr>
    </table>
</div>