<p>
    <a ui-sref="newClient" class="btn btn-default">New Client</a>
    <a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a>
</p>
<div ng-app="myApp" ng-controller="listClients">
    <label>Search active users only: <input type="checkbox" ng-model="activeFilter" checked /></label>
    <table class="table">
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Birth Date
            </th>
            <th>
                Actions
            </th>
        </tr>

        <tr ng-repeat="c in clients | orderBy:['!Active', 'FirstMidName'] | filter: (activeFilter || '') && {Active: true}">
            <td>{{c.FirstMidName}} {{c.LastName}}</td>
            <td>{{c.BirthDate | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a class="btn-sm btn-block btn-default " ui-sref="client({id: c.ClientID})"><i class="fa fa-info-circle"aria-hidden="true"></i> Edit</a>
                <a class="btn-sm btn-block btn-danger " ng-show="c.Active" ng-click="Deactivate(c.ClientID)"><i class="fa fa-ban" aria-hidden="true"></i> Deactivate</a>
                <a class="btn-sm btn-block btn-success " ng-show="!c.Active" ng-click="Activate(c.ClientID)"><i class="fa fa-check" aria-hidden="true"></i> Activate  </a>
            </td>
        </tr>
    </table>
</div>