<p><a ui-sref="newCopy" class="btn btn-default">New Game Copy</a></p>
<div ng-app="myApp" ng-controller="listCopies">
    <p><a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a></p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Copy #
            </th>
            <th>
                Available
            </th>
        </tr>

        <!--<tr ng-repeat="(key, value) in copies | groupBy: 'CopyID'">
            <td>{{key}}</td>
        </tr>-->
        
        
        <tr ng-repeat="c in copies | orderBy: 'GameTitle'">
            <td>{{c.GameTitle}} ({{c.PublisherName}}, {{c.GameYear}})</td>
            <td>{{c.CopyID}}</td>
            <!--<td>{{c.Available}}</td>-->
            <td>
                <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-show="!c.Available"></i>
                <i class="fa fa-check-circle fa-3x" aria-hidden="true" ng-show="c.Available"></i>
            </td>
        </tr>
    </table>
</div>
