<p>
    <a ui-sref="newCopy" class="btn btn-default">New Game Copy</a>
</p>
<div ng-app="myApp" ng-controller="listCopies">
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                ID
            </th>
            <th>
                Available
            </th>
        </tr>

        <tr ng-repeat="c in copies | orderBy: 'GameTitle' | startFrom: (currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
            <td>{{c.GameTitle}} ({{c.PublisherName}}, {{c.GameYear}})</td>
            <td>{{c.CopyID}}</td>
            <td>
                <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-show="!c.Available"></i>
                <i class="fa fa-check-circle fa-3x" aria-hidden="true" ng-show="c.Available"></i>
            </td>
        </tr>
    </table>
    <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    
</div>
