<div ng-app="myApp" ng-controller="listFees">
    <table class="table">
        <tr>
            <th>Fee #</th>
            <th>Client</th>
            <th>Title</th>
            <th>Rental #</th>
            <th>Value</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="f in fees | orderBy: 'Paid' | startFrom:(currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
            <td>{{f.FeeID}}</td>
            <td>{{f.Client}}</td>
            <td>{{f.Title}}</td>
            <td>{{f.RentalID}}</td>
            <td>{{f.Value | currency:"$":2}}</td>
            <td>
                <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-show="!f.Paid"></i>
                <i class="fa fa-check-circle fa-3x" aria-hidden="true" ng-show="f.Paid"></i>
            </td>
            <td>
                <a class="btn btn-warning" ng-click="payFee(f.FeeID)" ng-disabled="f.Paid ==true"><i class="fa fa-check-square" aria-hidden="true"></i> Pay Fee</a>
                <a class="btn btn-danger" ng-click="deleteFee(f.FeeID)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            </td>
        </tr>
    </table>
    <ul uib-pagination boundary-links="true" total-items="totalItems" max-size="numPages" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    <p>showing {{totalItems < itemsPerPage ? totalItems : itemsPerPage}} of {{totalItems}} entries</p>
</div>