<!--
<table class="table" ng-app="myApp" ng-controller="getGame">
    <tr>
        <th>Title</th>
        <th>Publisher</th>
        <th>Year</th>
        <th>Rating</th>
        <th>Suitable Age</th>
        <th>Value</th>
    </tr>

    <tr>
        <td>{{game.Title}}</td>
        <td>{{game.Publisher.Name}}</td>
        <td>{{game.Year}}</td>
        <td>{{game.ESRB.Rating}}</td>
        <td>{{game.ESRB.Age}}</td>
        <td>{{game.Value | currency:"$":2}}</td>
    </tr>

</table>
-->
<div ng-app="myApp" ng-controller="updateGame" class="form-horizontal">
    <p><a ui-sref="games" class="btn btn-default">Back to Games</a></p>
    <form class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Game ID: {{GameID}} </label>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Title </label>
            <input class="form-control col-md-10" type="text" ng-model="Title" ng-required="true" />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Genre </label>
            <select class="form-control col-md-10" ng-model="GenreID" ng-options="genre.GenreID as genre.Name for genre in genres" ng-required="true"></select>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Publisher </label>
            <select class="form-control col-md-10" ng-model="PublisherID" ng-options="publisher.PublisherID as publisher.Name for publisher in publishers" ng-required="true"></select>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Rating </label>
            <select class="form-control col-md-10" ng-model="ESRBID" ng-options="rating.ESRBID as rating.Description for rating in ratings"></select>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Release Date</label>
            <div uib-datepicker ng-model="YearDate" class="well well-sm col-md-10" datepicker-options="options"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description </label>
            <input class="form-control col-md-10" type="text" ng-model="Description" ng-required="true" />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Value </label>
            <input class="form-control col-md-10" ng-model="Value" />
        </div>
        <input class="btn btn-default" type="button" ng-click="updateGame()" value="Update Game" />
    </form>
</div>