<div ng-controller="listCopiesPerGame">
    <p><a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a></p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Copy #
            </th>
            <th>
                Available
            </th>
        </tr>

        <tr ng-repeat="c in copies | orderBy: 'GameTitle'">
            <td>{{c.GameTitle}} ({{c.PublisherName}}, {{c.GameYear}})</td>
            <td>{{c.CopyID}}</td>
            <td>{{c.Available}}</td>
        </tr>
    </table>
    <h2 ng-show="copies.length ==0"> No copies available!</h2>
</div>
<p><a ui-sref="games" class="btn btn-default">Back to Games</a></p>