<p><a ui-sref="newGame" class="btn btn-default">New Game</a></p>
<div ng-app="myApp" ng-controller="listGames">
    <p><a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a></p>
    
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="g in games |orderBy: 'Title'">
            <td>{{g.Title}}</td>
            <td>{{g.PublisherName}}</td>
            <td>{{g.Year | date:'yyyy'}}</td>
            <td>{{g.RatingDescription}}</td>
            <td>{{g.Value | currency:"$":2}}</td>
            <td>
                <a class="btn btn-default" ui-sref="gameCopies({id: g.GameID})">Check Copies</a>
                <a class="btn btn-default" ui-sref="game({id: g.GameID})">Edit</a>
                <a class="btn btn-danger">Delete</a><!--MODAL?-->
            </td>
        </tr>
    </table>
</div>