<div class="row" ng-app="myApp" ng-controller="homeController">
    <div class="col-md-4">
        <h2>List of Titles</h2>
        <p>
            Check available games here!
        </p>
        <p><a class="btn btn-info" href="Copies">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of Genres</h2>
        <p>Check available genres here!</p>
        <p><a class="btn btn-info" href="Genres">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of Publishers</h2>
        <p>Check available publishers here!</p>
        <p><a class="btn btn-info" href="Publishers">Click Here &raquo;</a></p>
    </div>
</div>
