<p><a ui-sref="clients" class="btn btn-default">Back to Clients</a></p>
<div ng-app="myApp" ng-controller="insertClient">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2"> New Client</label>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">First/Middle name </label>
            <input class="form-control col-md-10" type="text" ng-model="FirstMidName" ng-required="true" />
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Last name </label>
            <input class="form-control col-md-10" type="text" ng-model="LastName" ng-required="true" />
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Birth Date</label>
            <div uib-datepicker ng-model="BirthDate" class="well well-sm" datepicker-options="options"></div>
        </div>
        <input type="button" class="btn btn-success" ng-click="insertClient()" value="Insert Client" />
    </form>
</div>