<p>
    <a ui-sref="newRental" class="btn btn-default">New Rental</a>
    <a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a>
</p>
<div ng-app="myApp" ng-controller="listRentals">
    <table class="table">
        <tr>
            <th>Rental #</th>
            <th>Title</th>
            <th>Client</th>
            <th>Lent on</th>
            <th>Due Date</th>
            <th>Returned on</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="r in rentals">
            <td>{{r.RentalID}}</td>
            <td>{{r.GameTitle}}</td>
            <td>{{r.ClientName}}</td>
            <td>{{r.LentOn | date:'dd/MM/yyyy'}}</td>
            <td>{{r.DueDate | date:'dd/MM/yyyy'}}</td>
            <td>{{r.ReturnedOn | date:'dd/MM/yyyy'}}</td>
            <td>{{r.Price | currency:"$":2}}</td>
            <td>
                <a class="btn btn-warning" ng-disabled="r.ReturnedOn != null"><i class="fa fa-check-square" aria-hidden="true"></i> Return</a>
                <a class="btn btn-default" ui-sref="rental(r.RentalID)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                <a class="btn btn-danger" ng-click="deleteRental(r.RentalID)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            </td>
        </tr>

    </table>
</div>