<div ng-app="myApp" ng-controller="listRentals">
    <p><a class="btn btn-info" ui-sref="home">Back to Menu &raquo;</a></p>
    <table class="table">
        <tr>
            <th>Rental #</th>
            <th>Title</th>
            <th>Client</th>
            <th>Lent on</th>
            <th>Due Date</th>
            <th>Returned on</th>
            <th>Price</th>
        </tr>

        <tr ng-repeat="r in rentals">
            <td>{{r.RentalID}}</td>
            <td>{{r.GameTitle}}</td>
            <td>{{r.ClientName}}</td>
            <td>{{r.LentOn | date:'dd/MM/yyyy'}}</td>
            <td>{{r.DueDate | date:'dd/MM/yyyy'}}</td>
            <td>{{r.ReturnedOn | date:'dd/MM/yyyy'}}</td>
            <td>{{r.Price | currency:"$":2}}</td>
        </tr>

    </table>
</div>