<p>
    <a ui-sref="newRental" class="btn btn-default">New Rental</a>
</p>
<div ng-app="myApp" ng-controller="listRentals">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Client</th>
            <th>Lent on</th>
            <th>Due Date</th>
            <th>Returned on</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="r in rentals | orderBy: 'ReturnedOn' : reverse=true | startFrom:(currentPage-1)*itemsPerPage | limitTo: itemsPerPage">
            <td>{{r.RentalID}}</td>
            <td>{{r.GameTitle}}</td>
            <td>{{r.ClientName}}</td>
            <td>{{r.LentOn | date:'dd/MM/yyyy'}}</td>
            <td>{{r.DueDate | date:'dd/MM/yyyy'}}</td>
            <td>{{r.ReturnedOn | date:'dd/MM/yyyy'}}</td>
            <td>{{r.Price | currency:"$":2}}</td>
            <td>
                <a class="btn btn-warning" ng-click="returnRental(r.RentalID)" ng-disabled="r.ReturnedOn != null"><i class="fa fa-check-square" aria-hidden="true"></i> Return</a>
                <a class="btn btn-default" ui-sref="rental({id: r.RentalID})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                <a class="btn btn-danger" ng-click="deleteRental(r.RentalID)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
            </td>
        </tr>
    </table>
    <ul uib-pagination boundary-links="true" total-items="totalItems" max-size="numPages" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    <p>showing {{totalItems < itemsPerPage ? totalItems : (itemsPerPage*currentPage < totalItems) ? itemsPerPage : (itemsPerPage + (totalItems - itemsPerPage*currentPage))}} of {{totalItems}} results</p>
</div>